@model BryantUniversity.Models.Course

@{
    ViewBag.Title = "Assign";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            
        </div>
        <div class="col-sm">
            <h2>Assign Course To</h2>
        </div>
        <div class="col-md">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div id="getCourseId" data-course-id="@Model.Id">

            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    @Model.CourseTitle
                </div>
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div id="tableContainer" class="col-sm">
                <table id="TeachersTable" class="table table-striped table-bordered table-sm " cellspacing="0"
                       width="100">
                    <thead>
                        <tr>
                            <th class="th-sm">ID</th>
                            <th class="th-sm">Name</th>
                            <th class="th-sm">E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-sm">
            <div class="col-sm">
                <div class="dropdown" id="SemPeriodDiv">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="semPeriodButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Semester Period
                    </button>
                    <div class="dropdown-menu" id="SemPeriodOptions" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
                <div class="dropdown" id="PatternDiv">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPatternButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Class Pattern
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">MonWed</a>
                        <a class="dropdown-item" href="#">TueThurs</a>

                    </div>
                </div>
                <div  id="TimeDiv">
                    <div id="timeStart">
                        <label for="startTime">Start Time: <input type="time" id="startTime" name="Start Time" /></label>
                    </div>
                    <div id="timeEnd">
                        <label for="startTime">End Time: <input type="time" id="endTime" name="endTime" /></label>
                    </div>
                    <button class="btn btn-secondary" type="button" id="TimeButton">
                        Time
                    </button>
                </div>
                <div class="dropdown" id="BuildingDiv">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownBuildingButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Building
                    </button>
                    <div class="dropdown-menu" id="BuildingOptions" aria-labelledby="dropdownMenuButton">

                    </div>
                </div>

                <div class="dropdown" id="RoomDiv">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownRoomButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Room
                    </button>
                    <div class="dropdown-menu" id="RoomOptions" aria-labelledby="dropdownRoom">

                    </div>
                </div>
                @*<label for="appt">Choose a time for the Class: </label>

            <input type="time" id="appt" name="appt"
                   min="09:00" max="18:00" required>*@
            </div>
        </div>
    </div>
</div>



<script src="~/scripts/course.js"></script>
