@model BryantUniversity.ViewModels.MajorViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-sm">
            <h2>All Majors Offered</h2>
        </div>
        <div class="col-md-5">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form mt-0">
                <input id="myInput" class="form-control" type="text" placeholder="Search..">
            </div>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table">
                <thead class="thead-dark">
                    <tr lass="bench-row">
                        <th>Department</th>
                        <th>Major</th>
 
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var major in Model.Majors)
                    {
                        <tr>
                            <td>@major.Department.Name</td>
                            <td>@major.Title</td>

                            <td>
                                @Html.ActionLink("Requirements", "Index", "Majors", new { id = major.Id }, new { @class = "btn btn-primary" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>