@model IList<BryantUniversity.Models.Registration>
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

<table class="table">
    <thead class="thead-dark">
        <tr lass="bench-row">
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var student in Model)
            {
            <tr>
                <td>@student.User.Name</td>
                <td>@student.User.Email</td>
                <td>
                    @Html.ActionLink("assign grade", "Assign", "Grades", new { id = student.User.Id, rId = student.CourseSectionId }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>
</table>