
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

@*@using (Html.BeginForm())
{
    @Html.DropDownListFor(m => m.CategoryId, Model.CategorySelectList, "Tool Type")
    @Html.DropDownListFor(m => m.AgeId, Model.AgeSelectList, "Age")
    @Html.TextBoxFor(m => m.ItemName)
    <button type="submit">Submit</button>
}*@

<script src="~/scripts/CalendarScript.js"></script>