
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a id ="spring20" class="dropdown-item" href="#">Spring 2020</a>
        <a id ="fall19" class="dropdown-item" href="#">Fall 2019</a>
        <a id ="spring19"class="dropdown-item" href="#">Spring 2019</a>
    </div>
</div>

<script src="~/Scripts/CalendarScript.js"></script>