@model BryantUniversity.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Add";
}
@if (Model.PreviousSemesterConflict)
{
    <h1> You can no longer register for this semester </h1>
}
else if (Model.SameClassConflict)
{
    <h1> Same class error </h1>
}
else if(Model.TimeConflict)
{
    <h1>Time conflict error</h1>
}
else if (Model.HasHold)
{
    <h1>Please contact Admin to remove Hold</h1>
}
else if(Model.NotTakenPreReqConflict)
{
    <h1>You have not taken the required PreRequistes</h1>
}
else if(Model.isOverRoomCapacity)
{

    <h1>There are no longer seats available</h1>
}
else
{
    <h1>Succesfully Registered</h1>
}